<div class="row">
    <div class="col-md-4">
        <h3>Taking the Bodleian less seriously (with GIFs)</h3>
        <div class="row">
            <div class="col-md-6">
                Pop quiz, hotshot. You’re appointed the social media manager for a world-renowned institution like Oxford’s Bodleian Library. What do you do?...
            </div>
            <div class="col-md-6"><img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2017/04/cwge-ueweae3yxd.jpg?w=208&h=156&crop=1&quality=85&strip=all" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Google’s ‘Speak to Go’ lets you travel the globe with your voice.</h3>
        <div class="row">
            <div class="col-md-6">
                Today, Google showed off a host of VR web applications on its new WebVR Experiments page, one of which lets you explore the world using voice search.  
            </div>
            <div class="col-md-6"><img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2017/04/screen-shot-2017-04-12-at-10-59-01-am.png?w=208&h=156&crop=1&quality=85&strip=all" />
            </div> 
        </div>
    </div>
    <div class="col-md-4">
        <h3>Just 3 days left to save $1,000 on Disrupt NY tickets</h3>
        <div class="row">
            <div class="col-md-6">
                Time to pay attention, would-be Disrupt NY 2017 attendees. Time is very quickly running out if you want to get your hands on some deeply discounted tickets to the best startup show in the Big Apple.
            </div>
            <div class="col-md-6"><img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2016/02/16758204214_218dd14c1c_o.jpg?w=208&h=156&crop=1&quality=85&strip=all" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Taking the Bodleian less seriously (with GIFs)</h3>
        <div class="row">
            <div class="col-md-6">
                Pop quiz, hotshot. You’re appointed the social media manager for a world-renowned institution like Oxford’s Bodleian Library. What do you do?...
            </div>
            <div class="col-md-6"><img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2017/04/cwge-ueweae3yxd.jpg?w=208&h=156&crop=1&quality=85&strip=all" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Google’s ‘Speak to Go’ lets you travel the globe with your voice.</h3>
        <div class="row">
            <div class="col-md-6">
                Today, Google showed off a host of VR web applications on its new WebVR Experiments page, one of which lets you explore the world using voice search.  
            </div>
            <div class="col-md-6"><img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2017/04/screen-shot-2017-04-12-at-10-59-01-am.png?w=208&h=156&crop=1&quality=85&strip=all" />
            </div> 
        </div>
    </div>
    <div class="col-md-4">
        <h3>Just 3 days left to save $1,000 on Disrupt NY tickets</h3>
        <div class="row">
            <div class="col-md-6">
                Time to pay attention, would-be Disrupt NY 2017 attendees. Time is very quickly running out if you want to get your hands on some deeply discounted tickets to the best startup show in the Big Apple.
            </div>
            <div class="col-md-6"><img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2016/02/16758204214_218dd14c1c_o.jpg?w=208&h=156&crop=1&quality=85&strip=all" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Taking the Bodleian less seriously (with GIFs)</h3>
        <div class="row">
            <div class="col-md-6">
                Pop quiz, hotshot. You’re appointed the social media manager for a world-renowned institution like Oxford’s Bodleian Library. What do you do?...
            </div>
            <div class="col-md-6"><img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2017/04/cwge-ueweae3yxd.jpg?w=208&h=156&crop=1&quality=85&strip=all" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Google’s ‘Speak to Go’ lets you travel the globe with your voice.</h3>
        <div class="row">
            <div class="col-md-6">
                Today, Google showed off a host of VR web applications on its new WebVR Experiments page, one of which lets you explore the world using voice search.  
            </div>
            <div class="col-md-6"><img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2017/04/screen-shot-2017-04-12-at-10-59-01-am.png?w=208&h=156&crop=1&quality=85&strip=all" />
            </div> 
        </div>
    </div>
    <div class="col-md-4">
        <h3>Just 3 days left to save $1,000 on Disrupt NY tickets</h3>
        <div class="row">
            <div class="col-md-6">
                Time to pay attention, would-be Disrupt NY 2017 attendees. Time is very quickly running out if you want to get your hands on some deeply discounted tickets to the best startup show in the Big Apple.
            </div>
            <div class="col-md-6"><img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2016/02/16758204214_218dd14c1c_o.jpg?w=208&h=156&crop=1&quality=85&strip=all" />
            </div>
        </div>
    </div>
</div>